body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.wrapper {
  padding: 10px;
  margin: 40px;
}

.black {
  background: black;
}

.red {
  background: red;
}

.card {
  color: white;
  border: 1px solid white;
  font-weight: bold;
  font-size: 30px;
  padding: 5px;
  height: auto;
  word-wrap: break-word;
  white-space: normal;
}

.btn {
  background: black;
  color: white;
  border-radius: 5px;
  margin: 3px;
  padding: 5px;
  font-weight: bold;
  font-size: 15px;
}
